/* xs */
@media all and (min-width: 0px) and (max-width: 600px) {
}

/* sm */
@media all and (min-width: 601px) and (max-width: 768px) {
}

/* md */

@media all and (min-width: 769px) and (max-width: 991px) {
}

/* lg */

@media all and (min-width: 992px) and (max-width: 1200px) {
}

/* xl */

@media all and (min-width: 1201px) {
}

@media (max-width: 600px) {
  h1 {
    font-size: 15px !important ;
  }
}
@media (max-width: 600px) {
  input {
    width: 100% !important ;
  }
  .groub-box {
    width: 100% !important;
  }
}
@media all and (min-width: 0px) and (max-width: 600px) {
  .err-list {
    font-size: 13px !important;
  }
  .err-p {
    font-size: 20 !important;
  }
}
